@import url("e4_basestyle.css");

.MTrimmedWindow {
  	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 0px;
	margin-right: 0px;
	background-color:  #313131;
}

.MPart {
   background-color: #313131;
}


.MTrimmedWindow.topLevel {
	margin-top: 7px;
	margin-bottom: 2px;
	margin-left: 2px;
	margin-right: 2px;
}

.MPartStack {
	font-size: 9;
	font-family: 'FreeSans';
	swt-simple: true;
	swt-mru-visible: true;
        swt-tab-renderer: url('bundleclass://org.eclipse.e4.ui.workbench.renderers.swt/org.eclipse.e4.ui.workbench.renderers.swt.CTabRendering');
        padding: 1px 6px 8px 6px; /* top left bottom right */
	swt-tab-outline: #dcfe71;
	swt-outer-keyline-color: #dcfe71;
	swt-unselected-tabs-color: #9fc134 #313131 #dcfe71 99% 100%;
	swt-shadow-visible: true;
	
	swt-selected-tab-fill: #9fc134;
	chrome-selected-tab-fill-highlight: #9fc134;
	
	chrome-selected-tab-color: #6a8a06;
	chrome-unselected-tab-color: #313131;
	
	swt-shadow-color: #313131;
	
	chrome-shiney-shadow: true;
	swt-mru-visible: true;
	
	swt-corner-radius: 14px;
}

.MTrimBar {
   
   background-color: #9fc134 #6a8a06 100%;
   chrome-border-top-visible: true;
   chrome-border-bottom-visible: true;
   chrome-border-left-visible: true;
   chrome-bordeer-right-visible: true;
   chrome-padding-top: 1;
   chrome-padding-bottom: 1;
   chrome-padding-left: 1;
   chrome-padding-right: 1;
   chrome-border-top-color: #313131;
   chrome-border-bottom-color: #313131;
   chrome-border-left-color: #313131;
   chrome-border-right-color: #313131;

}

.MTrimBar#org-eclipse-ui-main-toolbar  {
    
    chrome-border-bottom-visible: true;
    
    chrome-border-bottom-color: #dcfe71;
    chrome-padding-bottom: 1;
    background-image:  none;	
    background-color:    #313131  #dcfe71  100%;
}

.MToolControl.TrimStack {
	frame-image: url(chrome://drag-frame?height=30&background-color=#dcfe71&embossed=false);
	handle-image: url(chrome://drag-handle?height=30&background-color=#dde1d3&embossed=false);
}

.MTrimBar .Draggable {
	handle-image: url(chrome://drag-handle?height=30&background-color=#dde1d3&embossed=false);
}

.MTrimBar#org-eclipse-ui-main-toolbar .Draggable {
	handle-image: url(chrome://drag-handle?height=30&background-color=#dde1d3&embossed=false);
}

.MTrimBar#org-eclipse-ui-main-toolbar .TrimStack {
	handle-image: url(chrome://drag-handle?height=30&background-color=#dde1d3&embossed=false);
}
#org-eclipse-ui-trim-vertical2 {
        frame-image: url(chrome://drag-frame?height=30&background-color=#313131&embossed=false);
	handle-image: url(chrome://drag-handle?height=30&background-color=#313131&embossed=false);
        background-color: #6a8a06 #9fc134  100% false;
        chrome-border-left-visible: true;
        chrome-border-right-visible: true;
        chrome-border-top-visible: true;
        chrome-border-bottom-visible: true;
        chrome-border-left-color: #dcfe71;
        chrome-border-right-color: #dcfe71;
        chrome-border-top-color: #dcfe71;
        chrome-border-bottom-color: #dcfe71;
        chrome-padding-left: 1;
        chrome-padding-right: 1;
        chrome-padding-top: 1;
        chrome-padding-bottom: 1;
}
#org-eclipse-ui-HeapStatus {
       font-style: bold;
       color: #dcfe71;
       background-color: #dcfe71;
}

#org-eclipse-ui-trim-status{
	chrome-border-top-visible: true;
        chrome-border-bottom-visible: true;
        chrome-border-top-color: #dcfe71;
        chrome-border-bottom-color: #dcfe71;
        chrome-padding-top: 5;
        chrome-padding-bottom: 0;
	background-color: #313131 #6a8a06 100%;
}


.MPartStack.active {
	swt-inner-keyline-color: #FFFFFF;
	swt-tab-outline: #9fc134;
	swt-outer-keyline-color: #9fc134;
	swt-unselected-tabs-color: #9fc134 #6a8a06 #dcfe71 99% 100%;
	
	swt-selected-tab-fill: #dcfe71;
	chrome-selected-tab-fill-highlight: #dcfe71;
	
	chrome-selected-tab-color: #9fc134;
	chrome-unselected-tab-color: #6a8a06;
	chrome-shiney-shadow: true;
}

.MPartStack.empty {
	swt-unselected-tabs-color: #93ab8d #93ab8d #93ab8d 99% 100%;
	swt-tab-outline: #94988b;
	swt-outer-keyline-color: #94988b;
}

#org-eclipse-ui-main-toolbar #PerspectiveSwitcher {
	eclipse-perspective-keyline-color: #dcfe71;
	background-color:  #6a8a06 #313131  100%;
	handle-image: none;
	chrome-show-perspective-name: true;
}


#PerspectiveSpacer{
	chrome-border-bottom-color: #dcfe71;
	chrome-border-bottom-visible: true;
}


#org-eclipse-ui-editorss {
   swt-tab-renderer: url('bundleclass://org.eclipse.e4.ui.workbench.renderers.swt/org.eclipse.e4.ui.workbench.renderers.swt.CTabRendering');
   swt-unselected-tabs-color: #313131 #313131 #313131 100% 100%;
   swt-outer-keyline-color: #2F4F4F;
   swt-inner-keyline-color: #F0F0F0;
   swt-tab-outline: #F0F0F0;
   color: #313131;
   swt-tab-height: 8px;
   padding: 0px 5px 7px;
}

CTabFolder.MArea .MPartStack, CTabFolder.MArea .MPartStack.active {
   swt-shadow-visible: true;
}

CTabFolder Canvas {
  background-color: #8FBC8F;
}

#bottom.CTabItem.focus {
   background-color: #313131;
}

